<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p> Messenger bag actually raclette, ennui cardigan letterpress austin crucifix chartreuse. Bespoke narwhal shaman, 3 wolf moon wolf enamel pin marfa four dollar toast kogi. Before they sold out heirloom VHS umami 90's.</p>
    <p><%= link_to"Sign Up To Wrtie A Review", new_user_registration_path, class: "btn btn-primary btn-lg"%></p>
  </div>
<% end %>

    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-sm-6 col-md-3">
          <div class="img">
            <%= link_to (image_tag movie.image.url(:medium), class: 'img-thumbnail'), movie %>
          </div>
        </div>
      <% end %>
    </div>
