<div class="col-6 offset-3"> 

  <h1>Editing Review</h1>

  <div class="card">
    <div class="card-body">

      <%= render 'form', review: @review %>

    </div>
  </div>

  <%= link_to 'Back', movie_path(@movie), class: "btn btn-primary btn-sm" %>

</div>
